$white-252: rgba(252, 252, 252, 1);

$red-249: rgba(237, 5, 112, 1);
$red-255: rgba(255, 133, 179, 1);

$blue-71: rgba(71, 0, 216, 1);
$blue-157: rgba(157, 254, 255, 1);

$yellow-251: rgba(251, 249, 0, 1);
$yellow-239: rgba(239, 242, 153, 1);

$green-1: rgba(1, 204, 28, 1);
$green-155: rgba(155, 242, 210, 1);

$purple-153: rgba(153, 0, 240, 1);
$purple-249: rgba(249, 186, 255, 1);
