@import '@/shared/styles/index.scss';

.winners {
  @include set-block-size(100%, auto);
  @extend %flex-col-start-start;
  row-gap: 10px;
  border-bottom: 2px solid $purple-249;

  &__row {
    @include set-block-size(100%, auto);
    @include set-font-size(24px, 1.3, 600);
    color: $white-252;

    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    column-gap: 10px;
    padding: 0 10px;

    &_type_header {
      border-radius: 6px;
      border: 2px solid $purple-249;
      
    }
  }
}
